<div class='nav-show'>
<h2> This is <%= @list.name %></h2>
</div>
<!-- a rajouter ici la liste des films dans la liste -->
<div class='card'>
<% @bookmarks.each do |bookmark| %>

  <div class='card-info'>
    <%= image_tag bookmark.movie.poster_url, alt: 'an image', width: 200 %>
    <div class='info'>
      <h3><%= bookmark.movie.title %></h3>
      <p><%= bookmark.movie.overview %></p>
      <div class='button'>
        <i class="fas fa-star"><%= bookmark.movie.rating %></i>
        <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger'%>
      </div>
    </div>
  </div>
  <br>
  <br>
  <% end %>
</div>

<h2>another movie to put in this list?</h2>

<!-- simple form for deux at dont l'endroit ou il est-->
<div class='form'>
  <%= simple_form_for [ @list, @bookmark ] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
</div>

<%= link_to 'Go back to main page', lists_path %>
